<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <!-- Raise to debug to get debug output in the console -->
        <param name="Threshold" value="info"/>
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %c{1} - %m%n" />
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${log.path}subscription-matcher.log" />
        <param name="MaxBackupIndex" value="10" />
        <param name="MaxFileSize" value="20MB" />
        <param name="Append" value="true" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{1} - %m%n" />
        </layout>
    </appender>

    <category name="com.suse.matcher">
        <priority value="debug" />
    </category>

    <category name="org.drools">
        <!-- Raise to debug to get full Drools debug -->
      <priority value="warn" />
    </category>

    <category name="org.optaplanner">
        <!-- Raise to trace to get full Optaplanner debug -->
        <priority value="warn" />
    </category>

    <root>
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</log4j:configuration>
